@import "../variables.scss";

.home-container {
    display: flex;
    background-color: $navbar-background;
    height: calc(100vh - 8rem);
    color: $letter-color;
    align-items: center;
    justify-content: center;
}

// LARGE SIZE SCREEN
@media (min-width: 1024px) {
    .home-container {
        // height: 500px;
    }
}
