<navbar>
    <div class='backdrop'></div>
    <header class="main-nav">
        <div class="main-nav__logo">
                <a href="#/"><img name='home' class="link main-nav__logo-img" riot-src='{logoNav}'>Ismael Pamplona</a>
        </div>
        <nav class="main-nav__links">
            
            

                <div class="main-nav__socialmedia">
                    <a class="socialmedia-item" target="_blank" href="https://gitlab.com/ismaelpamplona"><gitlab/></a>
                    <!-- <a class="socialmedia-item" target="_blank" href="https://github.com/ximaeli"><github/></a> -->
                    <!-- <a class="socialmedia-item" target="_blank" href="https://www.linkedin.com/in/ismael-pamplona-b815b586/"><envelope/></a>  -->
                    <!-- <a class="socialmedia-item" target="_blank" href="https://www.instagram.com/ismaelpamplona/"><instagram/></a> -->
                    <a class="socialmedia-item" target="_blank" href="https://www.linkedin.com/in/ismael-pamplona-b815b586/"><linkedin/></a> 
                    <!-- <a class="socialmedia-item" target="_blank" href="{walink}"><wa/></a> -->
                </div>                                                 
            
        </nav>
    </header>

    <script>
        this.mixin('nav')      
        
        this.on('mount', function (){   
            // is mobile..
            if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
                this.walink = "https://api.whatsapp.com/send?phone=5561981317178&text="
            } else {
                this.walink = "https://web.whatsapp.com/send?phone=5561981317178&text="
            }
            this.links = document.querySelectorAll('.link')
            this.links.forEach(link => {
                link.addEventListener('click', scrollTo)
            })
            this.navbar = document.querySelector('.main-nav') 
            this.items = document.querySelectorAll(".main-nav__item")
            this.items.forEach((element, i) => {
                element.addEventListener('click', closeOrShowMobileNav)
            })
            // this.toggleGif = this.toggleStatic
            this.update()
        })

        const scrollTo = (e) => {
            setTimeout(function(){
                let id = e.target.name;
                const elmnt = document.getElementById(id);
                elmnt.scrollIntoView({behavior: "smooth", block: "start", inline: "nearest"});
            }, 100)
        }

        const onScroll = () => {
            if(window.pageYOffset > 0) {
                this.navbar.classList.add('main-nav__scrolled')
            } else {
                this.navbar.classList.remove('main-nav__scrolled')
            }
        }

        const closeOrShowMobileNav = () => {
            if(window.innerWidth<1024){
                if (this.navMovile.classList.contains('open')){
                    this.navMovile.classList.remove('open')
                    this.backdrop.classList.remove('open')
                    this.toggleBtn.classList.add('main-nav__toggle')
                    this.toggleBtn.classList.remove('main-nav__toggle-rotate')
                } else {
                    this.backdrop.classList.add('open')
                    this.navMovile.classList.add('open')
                    this.toggleBtn.classList.remove('main-nav__toggle')
                    this.toggleBtn.classList.add('main-nav__toggle-rotate')
                }
            }
            this.update()
        }

        window.addEventListener('scroll', onScroll);
       
    </script>    
</navbar>
