@import "../variables.scss";

/* STYLING THE NAVIGATION BAR */

.main-nav {
    position: fixed;
    width: 100%;
    height: $navbar-height;
    background: $navbar-background;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    border-bottom: 1px solid #eee;
}

.main-nav__scrolled {
    background: $navbar-background-opacity-heavy;
}

.link {
    cursor: pointer;
}

.main-nav__logo {
    font-size: 1.5rem;
    padding-left: 0.5rem;
    color: $navbar-letter-color;
}

.main-nav__logo a {
    text-decoration: none;
    display: flex;
    color: $navbar-letter-color;
    align-items: center;
}

.main-nav__logo a:hover {
    opacity: 0.7;
}

.main-nav__logo-img,
.main-nav__logo-img-mobile {
    margin: 0rem 1rem 0rem 0.5rem;
    max-width: 12rem;
    max-height: 3rem;
    top: 0;
    border-radius: 50%;
}

.main-nav__logo-img:hover {
    opacity: 0.8;
}

.main-nav__items {
    margin-top: 4rem;
    display: flex;
    list-style: none;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.1rem;
    cursor: pointer;
}

.main-nav__item {
    padding: 1rem 0.5rem;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
    color: $navbar-letter-color;
    text-decoration: none;
    margin: 0 2rem;
}

.main-nav__item a {
    color: inherit;
    text-decoration: none;
}

.main-nav__item:hover {
    background-color: $navbar-background-opacity-heavy;
    color: $navbar-letter-hover-color;
    text-decoration: none;
}

.main-nav__socialmedia {
    display: flex;
    flex-direction: row;
    width: 100px;
    flex-wrap: wrap;
    margin-right: 0.5rem;
}

.socialmedia-item {
    color: $navbar-letter-color;
}

.social-media-icon {
    width: 15px;
    margin: 0 0.5rem;
    fill: currentColor;
}

.socialmedia-item:hover {
    opacity: 0.6;
}

.main-nav__item a:hover {
    color: white;
    padding: 0.5rem;
}

// LARGE SIZE SCREEN
@media (min-width: 1024px) {
    .main-nav__links {
        display: flex;
        flex-direction: row;
    }

    .main-nav__logo {
        margin-right: 6rem;
    }

    .main-nav__logo-img {
        margin: 12px;
        position: static;
        max-width: 16 rem;
        display: block;
    }

    .main-nav__items {
        flex-direction: row;
        margin: 0.5rem;
    }

    .main-nav__item {
        padding: 0 1rem;
        margin: 0 0.4rem;
        text-decoration: none;
        border-bottom: none;
    }

    .main-nav__item:hover {
        background-color: transparent;
        text-decoration: none;
    }

    .main-nav__item a {
        margin: 0 1rem;
    }

    .main-nav__item a:hover {
        margin: 0 0.5rem;
    }

    .main-nav__socialmedia {
        margin-left: 2rem;
        width: 300px;
        justify-content: flex-end;
    }

    .social-media-icon {
        width: 20px;
        margin: auto 0.5rem;
    }
}
