@import "variables.scss";

// global
html,
body,
h1,
h2,
h3,
h4,
h5,
p,
div,
input,
output,
strong,
label,
table,
thead,
textarea {
    font-family: "Special Elite";
    font-weight: 300;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0.5rem 1rem 0.5rem 1rem;
}

h1 {
    font-size: 1.2rem;
}

h2 {
    font-size: 1rem;
}

h3 {
    font-size: 0.8rem;
}

// fonts
@font-face {
    font-family: "Special Elite";
    src: url("../fonts/SpecialElite-Regular.ttf");
}

body {
    background-color: $background-color-heavy;
}

.open {
    display: block !important;
}

.close {
    display: none;
}

.master-container {
    background-color: $background-color-heavy;
    max-width: 1920px;
    height: calc(100% - 6.4px - 6.4px);
}

.content {
    padding-top: 4rem;
}
