<app>
    <navbar />
    <div class="master-container">
        <div class="content" id="content">
            <about/>
        </div>
    </div>
    <navfooter/>

    <script>
        import riot from "riot";
    </script>
</app>
