// variables

//navbar
$navbar-background: rgba(255, 255, 255, 1);
$navbar-background-opacity-heavy: rgba(255, 255, 255, 0.9);
$navbar-letter-color: rgba(100, 100, 100, 1);
$navbar-letter-hover-color: rgba(50, 50, 50, 1);
$navbar-height: 4rem;

$navbar-backdrop-background-color: rgba(255, 255, 255, 0.95);

$letter-color: #ccc;
$letter-color-opacity-heavy: rgba(200, 200, 200, 0.8);
$letter-color-oposite: #444;
$letter-color-oposite-hover: #222;
$letter-color-oposite-opacity-medium: rgba(0, 0, 0, 0.6);
$letter-hover-color: white;
$background-color-heavy: black;
$background-color-medium: rgb(40, 40, 40);
$background-color-light: rgb(80, 80, 80);
$background-color-superlight: rgb(160, 160, 160);
$background-color-oposite: rgb(255, 255, 255);
$background-color-oposite-opacity-heavy: rgba(255, 255, 255, 0.9);
$background-color-oposite-opacity-medium: rgba(255, 255, 255, 0.5);
$background-color-oposite-opacity-light: rgba(255, 255, 255, 0.1);
$primary-black: black;
$secondary-black: rgba(70, 70, 70, 1);
$background-color-opacity-heavy: rgba(0, 0, 0, 0.7);
$background-color-opacity-medium: rgba(0, 0, 0, 0.5);
$background-color-opacity-light: rgba(0, 0, 0, 0.15);

$bricks-background: linear-gradient(
    90deg,
    rgb(226, 226, 215) 0%,
    #ddd 30%,
    rgb(241, 241, 229) 50%,
    #ddd 70%,
    #fff 90%,
    rgb(238, 238, 227) 98%
);

$brick-background: linear-gradient(
    90deg,
    #b1230f 0%,
    #b32a18 30%,
    #a8200e 50%,
    #a82918 70%,
    #c0321f 90%
);
