<navfooter>
    <footer class="footer-container">
        <nav class="footer-content">
            <p id="footer"></p>All rights reserved to Ismael Pamplona ®</p>
        </nav>
    </footer>
</navfooter>
