@import "../variables.scss";

// STYLING THE FOOTER BAR

.footer-container {
    background: $background-color-medium;
    color: $letter-color;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-size: 8px;
    letter-spacing: 1px;
    vertical-align: middle;
}

// LARGE SIZE SCREEN
@media (min-width: 1024px) {
    .footer-container {
        height: 4rem;
        font-size: 10px;
    }
}
